---
layout: base.njk
---
{% include 'sitenav.njk' %}

<main class="tdbc-container">
  <div class="tdbc-section">
    <ul class="tdbc-column-container">
      {%- for page in collections.pages -%}
      <li class="tdbc-card">
        <div class="tdbc-card__content">
        <p>{{ page.data.title }}</p>
          <p>{{ page.data.description }}</p>
        </div>
      </li>
      <li class="tdbc-card">
        <div class="tdbc-card__content">
          <p>{{ page.data.info }}</p>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  </main>